# File compilati Java
*.class

# Cartelle di compilazione
bin/
out/
build/
target/

# File degli IDE
.vscode/
.idea/
*.iml

# File temporanei
*.log
*.dmp

# Estensione Bot Telegram
estensioneBotTelegram/target/
estensioneBotTelegram/out/
